body {
    background: url("teste.jpg");
    width: fit-content; 
}
header {
    background: #bbbbbbc0;
    padding: 20px 0;  
}
.caixa {
    position: relative;
    width: 940px;/*largura padrão para margem*/
    margin: auto;
}
nav {
    position: absolute;/*para mudar um elemento de posiçao sem restição*/
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;/*1ºtop 2ºright 3ºlow 4ºleft  espaço a esquerda*/
}
nav a {
    text-transform: uppercase; /*transformar texto para mauiusculo*/
    color: black;
    font-weight: bold;/*fonte em negrito*/
    font-size: 22px;
    text-decoration: none;/*retirar decoração da fonte*/
}
nav a:hover {
    color: rgba(255, 0, 0, 0.76);
    text-decoration: underline;
}
.principal {
    font-style: italic;
    font-size: 25px;
    color: white;
    padding: 30px;
}
.titulo-centralizado{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
p {
    text-align: center;
}
#missao {
    font-size: 20px;
    font-style: italic;
    font-size: 25px;
}
em strong {
    color: red;
}
.beneficios {
    color: white;
    padding: 20px;
    font-style: italic;
    position: relative;
    width: 600px;/*largura padrão para margem*/
    margin: auto;
    padding: 100px;
}
h3 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}
ul {
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}
.imgbeneficios {
    width: 30%;
    position: absolute;
    right: 0;
}
footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;

}
.copyright {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}