body {
    width: fit-content;
}
header {
    background: #bbbbbbc0;
    padding: 20px 0;  

}
.caixa {
    position: relative;
    width: 940px;/*largura padrão para margem*/
    margin: 0 auto;
}
nav {
    position: absolute;/*para mudar um elemento de posiçao sem restição*/
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;/*1ºtop 2ºright 3ºlow 4ºleft  espaço a esquerda*/

}
nav a {
    text-transform: uppercase; /*transformar texto para mauiusculo*/
    color: black;
    font-weight: bold;/*fonte em negrito*/
    font-size: 22px;
    text-decoration: none;/*retirar decoração da fonte*/
}

nav a:hover {
    color: rgba(255, 0, 0, 0.76);
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: black solid 3px;/*adicionar borda e estilo dela*/
    border-radius: 15px;

}
.produtos li:hover/*Realçar uma caracteristica quando o passar o mouse em cima*/ {
    border-color: rgba(255, 0, 0, 0.76) ;
}
.produtos li:active/*altera o elemento quando clicar*/ {
    border-color: rgb(4, 40, 107);
}
.produtos li:hover h2{
    font-size: 40px ;
    color: rgba(255, 0, 0, 0.76);

}
.produtos li:active h2 {
    color: rgb(4, 40, 107);
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descrição {
    font-size: 18px;
}
.produto-preço {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;

}
.copyright {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}